@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Melodrama";
    src: url("./fonts/Melodrama_Complete-2/Fonts/WEB/fonts/Melodrama-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Melodrama";
    src: url("./fonts/Melodrama_Complete-2/Fonts/WEB/fonts/Melodrama-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Melodrama";
    src: url("./fonts/Melodrama_Complete-2/Fonts/WEB/fonts/Melodrama-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Melodrama";
    src: url("./fonts/Melodrama_Complete-2/Fonts/WEB/fonts/Melodrama-Semibold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Melodrama";
    src: url("./fonts/Melodrama_Complete-2/Fonts/WEB/fonts/Melodrama-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

:root {
    --decoration-font: "Melodrama", sans-serif;
    --main-font: "Montserrat", sans-serif;
    --accentColor: rgb(35, 35, 255);
    --buttonColor: rgb(43, 43, 43);
    --white: rgb(255, 255, 255);
}
body {
    margin: 80px;
    font-family: var(--main-font);
    display: flex;
    justify-content: center; 
}
/* HEADER */

.username {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}

.fa {
    color: var(--accentColor);
}

/* PROFILE AREA */

.firstContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start ;
}

/* IMAGE AREA */

.imageArea { 
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

/* TEXT AREA */
/* FLEXBOX CONTAINER 1 */

.flexboxContainer {
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-weight: 400;
    font-size: 17px;
}
.flexboxItem1, .flexboxItem2, .flexboxItem3  {
    text-align: center;
    font-weight: 500;
}

/* DESCRIPTION */

.bio {
    font-size: 16px;
    font-weight: 400;
}
 .bio a {
    text-decoration: none;
    color: var(--accentColor);
 }

/* 2 BUTTONS */

.buttons {
    display: flex;
    gap: 8px;
}

.mainButton1 {
    flex: 1;
    background-color: var(--accentColor);
    color: var(--white);
    font-size: 15px;
    padding: 8px 16px;
    border: 1px solid var(--accentColor);
    border-radius: 4px;
    text-align: center;
}

.mainButton2 {
    flex: 1;
    background-color: var(--buttonColor);
    color: var(--white);
    font-size: 15px;
    padding: 8px 16px;
    border: 1px solid var(--buttonColor);
    border-radius: 4px;
    text-align: center;
}

